@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* SCROLLBAR */

html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(63,112,244,0.3);
  border: 5px;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(63,112,244,0.75);
}

html::-webkit-scrollbar-track {
  background-color: #edeff0;
}

/* BASE */

.container-wide {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* HEADER */

.landing-body {
  background-color: #edeff0;
  /* background-color: #f7f9fb; */
  font-weight: 500;
  font-size: 22px;
  height: 590px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-title {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  position: relative;
}
.landing-title::before {
  content: "";
  position: absolute;
  left: 62;
  bottom: -4px;
  height: 5px;
  width: 60px;
  border-radius: 8px;
  background-color: #4070f4;
}

.main-section {
  max-width: 1200px;
  padding: 10px 30px;
  align-content: center;
  min-height: 560px;
  margin: 0 auto;
  border-radius: 10px;
}

.main-section-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 5% auto;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

.submit-button {
  background-color: #648cf4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  border-color: transparent;
  transition: all 0.1s ease-in;
}

.submit-button:hover {
  background-color: #386df5;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  border-color: transparent;
  transition: all 0.1s ease-in;
  transform: scale(1.015);
}

.main-section-student {
  max-width: 1200px;
  padding: 30px;
  align-content: center;
  min-height: 560px;
  margin: 5% auto;
  background: #8fc1e3;
  border-radius: 10px;
}

.students-body,
.business-body {
  /* min-height: 100vh;
     display: flex; */
  align-items: center;
  justify-content: center;
  background: #edeff0;
  /* background: #4070f4; */
}

.results-body {
  background: #edeff0;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 30px;
  border-radius: 8px;
  background-color: #4070f4;
}
.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
  overflow: hidden;
}
.container form .form {
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}
.container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.custom-selection {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
}

.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

#studentTechAndTools input {
  height: 28px;
}

.custom-selection {
  margin: 8px 0;
}

.input-field input:is(:focus),
.input-field select:is(:focus),
.custom-selection:is(focus) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.custom-selection,
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}

.container form button,
.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}
.container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
form button:hover {
  background-color: #265df2;
}
form button i,
form .backBtn i {
  margin: 0 6px;
}
form .backBtn i {
  transform: rotate(180deg);
}
form .buttons {
  display: flex;
  align-items: center;
}
form .buttons button,
.backBtn {
  margin-right: 14px;
}

.result-students {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
}

/* Student Profile */
.profile-body {
  align-items: center;
  justify-content: center;
  background: #edeff0;
}

.profile-section-wrapper {
  display: grid;
  max-width: 1200px;
  min-height: 611px;
  grid-template-columns: 0.8fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 50px;
  grid-auto-flow: row;
  grid-template-areas: "profile-contacts profile-first-section profile-second-section";
  position: relative;
}

.profile-contacts {
  grid-area: profile-contacts;
  border-radius: 0 6px 0 6px;
  background-color: #4070f4;
  width: 330px;
  height: 482px;
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 0px;
}

.profile-first-section {
  grid-area: profile-first-section;
  position: absolute;
  top: 129px;
}

.profile-first-section div {
  margin-bottom: 10px;
}

.profile-second-section {
  grid-area: profile-second-section;
  position: absolute;
  top: 129px;
}

.profile-second-section div {
  margin-bottom: 10px;
}

.skills-section-profile {
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.skills-section-profile li {
  background: #648cf4;
  opacity: 0.75;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.profile-name {
  font-size: 20px;
  height: 29px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 16px;
}

.profile-name,
.profile-contacts-details {
  font-weight: bold;
}

.profile-contacts-details {
  padding-left: 16px;
  padding-top: 3px;
}

.profile-contacts-details-div {
  display: flex;
  margin-bottom: 30px;
}

.profile-picture-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -21%;
}

.profile-contacts-details-wrapper {
  padding: 0px 42px 16px 42px;
}

.profile-contacts-details-buttons {
  display: flex;
  justify-content: space-around;
  gap: 36px;
  align-items: center;
  margin: 20% 20% 0 20%;
}

.profile-contacts-details-buttons a {
  transition: all 0.2s ease-in;
}

.profile-contacts-details-buttons a:hover {
  transform: scale(1.15);
  transition: all 0.2s ease-in;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  border-radius: 6px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
  font-weight: bold;
  font-size: 18px;
}

.profile-details {
  font-weight: 300;
  font-size: 18px;
}

.profile-summary div,
.profile-unversity div,
.profile-specialty div,
.profile-english div {
  padding-top: 5px;
}

.phone-icon,
.mail-icon,
.location-icon,
.cake-icon {
  width: 24px;
  height: 24px;
}
.github,
.linkedin {
  width: 32px;
  height: 32px;
}

/*
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b,
.c {
  display: flex;
  align-items: center;
}
.c {
  position: relative;
  justify-content: center;
  width: 44.42px;
  height: 22px;
  flex-shrink: 0;
}
.b {
  position: absolute;
}
.b {
  top: 0;
  left: calc(50% - 208.5px);
  color: #000;
  text-align: left;
  width: 267px;
  height: 29px;
}
.profile-skills {
  position: absolute;
  top: 289px;
  left: 766px;
  width: 417px;
  height: 132px;
  text-align: center;
  color: #fff;
}
.skills-section-profile {
  list-style: none;
  margin-top: 30px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.skills-section-profile li {
  background: #648cf4;
  opacity: 0.75;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.b1,
.div {
  position: relative;
  display: flex;
  align-items: center;
  width: 249px;
  height: 29px;
  flex-shrink: 0;
}

.div {
  font-weight: 300;
  width: 143px;
}
.profile-salary {
  position: absolute;
  top: 257px;
  left: 766px;
  flex-direction: row;
  justify-content: flex-start;
}
.b2,
.profile-workplace,
.profile-salary {
  height: 29px;
  display: flex;
  align-items: center;
}
.b2 {
  position: relative;
  width: 226px;
  flex-shrink: 0;
}
.profile-workplace {
  position: absolute;
  top: 225px;
  left: 766px;
  flex-direction: row;
  justify-content: flex-start;
}
.b3 {
  position: relative;
  width: 168px;
  flex-shrink: 0;
}
.b3,
.profile-workarea,
.full-stack {
  height: 29px;
  display: flex;
  align-items: center;
}
.full-stack {
  position: relative;
  font-weight: 300;
  width: 101px;
  flex-shrink: 0;
}
.profile-workarea {
  position: absolute;
  top: 193px;
  left: 766px;
  flex-direction: row;
  justify-content: flex-start;
}
.b4 {
  position: relative;
  width: 155px;
  flex-shrink: 0;
}
.b4,
.div2,
.profile-exp {
  height: 29px;
  display: flex;
  align-items: center;
}
.div2 {
  position: relative;
  font-weight: 300;
  width: 112px;
  flex-shrink: 0;
}
.profile-exp {
  position: absolute;
  top: 161px;
  left: 766px;
  width: 269px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
}
.b5,
.div3 {
  position: relative;
  flex-shrink: 0;
}
.b5 {
  display: flex;
  align-items: center;
  width: 85px;
  height: 29px;
}
.div3 {
  font-weight: 300;
  width: 144px;
}
.b6,
.div3,
.profile-position,
.proficient-c2 {
  display: flex;
  align-items: center;
  height: 29px;
}
.profile-position {
  position: absolute;
  top: 129px;
  left: 766px;
  flex-direction: row;
  justify-content: flex-start;
}
.b6,
.proficient-c2 {
  position: relative;
  width: 195px;
  flex-shrink: 0;
}
.proficient-c2 {
  font-weight: 300;
  width: 367px;
  height: 30px;
}
.profile-english {
  position: absolute;
  top: 478px;
  left: 350px;
  width: 367px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.b7 {
  position: relative;
  display: flex;
  align-items: center;
  width: 277px;
  height: 29px;
  flex-shrink: 0;
}
.profile-specialty {
  position: absolute;
  top: 416px;
  left: 351px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div5,
.profile-specialty,
.profile-unversity {
  width: 367px;
  display: flex;
}
.div5 {
  position: relative;
  font-weight: 300;
  align-items: center;
  height: 46px;
  flex-shrink: 0;
}
.profile-unversity {
  position: absolute;
  top: 338px;
  left: 351px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b9,
.div6 {
  position: relative;
  width: 90px;
  flex-shrink: 0;
}
.b9 {
  display: flex;
  align-items: center;
  height: 29px;
}
.div6 {
  font-weight: 300;
  margin-left: -13px;
}
.b10,
.div6,
.lorem-ipsum-dolor,
.profile-education {
  display: flex;
  align-items: center;
  height: 29px;
}
.profile-education {
  position: absolute;
  top: 306px;
  left: 350px;
  width: 167px;
  flex-direction: row;
  justify-content: flex-start;
}
.b10,
.lorem-ipsum-dolor {
  position: relative;
  width: 259px;
  flex-shrink: 0;
}
.lorem-ipsum-dolor {
  font-weight: 300;
  width: 366px;
  height: 148px;
}
.profile-summary {
  position: absolute;
  top: 129px;
  left: 350px;
  width: 366px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-contacts-bg {
  position: absolute;
  top: 70px;
  left: 0;
  border-radius: 0 var(--br-3xs) 0 var(--br-3xs);
  background-color: #4070f4;
  width: 330px;
  height: 482px;
}
.b11,
.b12,
.leodicapriogmailcom {
  position: absolute;
  top: 397px;
  left: calc(50% - 81px);
  display: flex;
  align-items: center;
  width: 203px;
  height: 28px;
}
.b12,
.leodicapriogmailcom {
  top: 343px;
}
.b12 {
  top: 224px;
  width: 170px;
}
.call-phone-icon,
.mail-icon,
.pin-location-icon {
  position: absolute;
  left: 42px;
  width: 24px;
  height: 24px;
}
.pin-location-icon {
  top: 280px;
  overflow: hidden;
}
.call-phone-icon,
.mail-icon {
  top: 399px;
}
.mail-icon {
  top: 345px;
  overflow: hidden;
}
.github-negative,
.linkedin-negative {
  position: absolute;
  top: 483px;
  left: 115px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.github-negative {
  left: 183px;
}
.p {
  margin: 0;
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.b13,
.profile-name {
  position: absolute;
  top: 287px;
  left: calc(50% - 81px);
  display: flex;
  align-items: center;
  width: 170px;
  height: 28px;
}
.profile-name {
  top: 166px;
  font-size: 20px;
  width: 320px;
  height: 29px;
}
.profile-picture {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 90px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.cake-2-icon {
  position: absolute;
  top: 226px;
  left: 42px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.profile-contacts {
  position: absolute;
  top: 59px;
  left: 0;
  width: 330px;
  height: 552px;
  font-size: 16px;
  color: #fff;
}

.profile-body {
  background-color: #edeff0;
}
.profile-container {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  height: 611px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
}

*/

/* old  */
.profile-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
}

.profile-card {
  border-radius: 10px;
  padding: 30px 0 40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.profile-card .profile-picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.profile-card .profile-picture::before {
  content: "";
  width: 120%;
  height: 0;
  border-radius: 0%;
  background-color: #4070f4;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.profile-card:hover .profile-picture::before {
  height: 100%;
}

.profile-card .profile-picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4070f4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile-card .profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.profile-card:hover .profile-picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.profile-card .profile-position {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.profile-card .profile-info {
  display: block;
  font-size: 15px;
  color: #4e5052;
  font-weight: 600;
}

.profile-card .profile-social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #4070f4;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.profile-card:hover .profile-social {
  bottom: 0;
}

.profile-card .profile-social li {
  display: inline-block;
}

.profile-card .profile-social li a {
  display: block;
  padding: 25px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.profile-card .profile-social li a:hover {
  color: #4070f4;
  background-color: #f7f5ec;
}

.profile-skills-section {
  list-style: none;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.profile-skills-section li {
  background: #648cf4;
  opacity: 0.75;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
  font-size: 15px;
}

/* old end */

@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
    min-height: 650px;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  .container form {
    min-height: 954px;
  }
  form .fields .input-field {
    width: 100%;
  }
}
